<ul class="menu px-8 py-14 w-full min-h-full text-base-content text-base">
  <!-- Título de la sección -->
  <!-- <li class="menu-title">
    <span>Canales</span>
  </li> -->

  <!-- Canal Activo -->
  <!-- <li>
    <a class="active py-1" id="general-chat">
      Chat General
    </a>
  </li> -->

  <!-- Otros Canales -->
  <!-- <li>
    <a class="py-1">
      Anuncios
    </a>
  </li>
  <li>
    <a class="py-1">
      Ayuda
    </a>
  </li> -->

  <!-- Usuarios Conectados -->
  <li>
    <details open>
      <summary>
        Usuarios Conectados
      </summary>
      <ul id="user-list">
        <!-- La lista de usuarios se poblará aquí mediante JS del lado del cliente -->
      </ul>
    </details>
  </li>
</ul>